PORT=8081
APPLICATION_SECRET_TOKEN=secret
DB_HOST=localhost
DB_PORT=3306
DB_NAME=gclub
DB_USER=root
DB_PASSWORD=admin
SENDGRID_API_KEY=secret
SENDGRID_EMAIL=mdq@gmail.com
FLYWAY_MIGRATIONS_PATH=classpath:/db/migration/
JWT_SECRET=secret
JWT_EXPIRATION_MINUTES=500
